html {
  background: url(../images/mikael-gustafsson-amongtrees_dark.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
input, select, textarea{
  font-family: Helvetica;
  background-color:black;
  color:white;
  border: 1px solid white;
  border-collapse: collapse;
  font-size: "14px";
}
button{
  font-family: Helvetica;
  background-color:black;
  color:white;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
a:link {
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: lightgreen;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}